<mat-toolbar color="primary">
  <mat-icon>book</mat-icon>
  <span>Radency Library</span>
</mat-toolbar>
<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add book
    </mat-panel-title>
    <mat-panel-description>
      Click here to fill the form to add new book to the library
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-new-book-pane></app-new-book-pane>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Books list
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-book-list></app-book-list>
</mat-expansion-panel>
