<mat-toolbar color="primary">
  <mat-icon>book</mat-icon>
  <span>Radency Library</span>
</mat-toolbar>
<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add book
    </mat-panel-title>
    <mat-panel-description>
      Click here to fill the form to add new book to the library
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-add-new-book></app-add-new-book>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Books list
    </mat-panel-title>
    <!--
    <mat-panel-title>
      This is the expansion title
    </mat-panel-title>
    <mat-panel-description>
      This is a summary of the content
    </mat-panel-description>
    -->
  </mat-expansion-panel-header>
  <app-book-list></app-book-list>
</mat-expansion-panel>

<!--
<div>

  <h1>Library</h1>
  <app-add-new-book></app-add-new-book>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="All">
  </mat-tab>
  <mat-tab label="Recommended"></mat-tab>

  </mat-tab-group>

</div>
 -->
