<mat-toolbar color="primary">
  <span class="spacer"></span>
  <span>Edit details</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="onCloseClick()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div *ngIf="book$ | async; let book;">
  <form class="fit-parent-w fit-parent-h" (ngSubmit)="onSaveChanges(formEditBook.value)" #formEditBook="ngForm">
    <table class="fit-parent-w fit-parent-h">
      <tr>
        <td rowspan="5" style="width: 200px">
          <div>
            <ng-container *ngIf="isImageSaved; else elseTemplate">
              <div class="coverContainer">
                <img [src]="cardImageBase64edit"  alt="Cover" id="bookCover"/>
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <div class="coverContainer">
                <mat-icon>broken_image</mat-icon>
              </div>
            </ng-template>
          </div>
          <div>
            <div>
              <button type="button" mat-flat-button matTooltip="Upload book's cover from disk" color="accent">
                <label for="file-upload-edit-input" class="custom-file-upload">
                  <mat-icon>cloud_upload</mat-icon>
                  Upload
                </label>
              </button>
              <input id="file-upload-edit-input" type="file" accept="image/*" style="display: none;" (change)="handleInputChange($event)"
                     class="fileInputProfile"/>
            </div>
            <button mat-flat-button type="submit" color="warn">
              <mat-icon>save</mat-icon>
              Save changes
            </button>
            <button mat-flat-button type="button" color="warn" (click)="tryToDeleteBook()">
              <mat-icon>delete_forever</mat-icon>
              Delete
            </button>
          </div>
        </td>
        <td>
          <mat-form-field class="fit-parent-w">
            <mat-label>Title</mat-label>
            <input matInput type="text" placeholder="Book" value="{{book.title}}" name="title" required [(ngModel)]="book.title">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="fit-parent-w">
            <mat-label>Author</mat-label>
            <input matInput type="text" placeholder="John Doe" value="{{book.author}}" name="author" required [(ngModel)]="book.author">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td rowspan="3">
          <mat-form-field class="fit-parent-w">
            <mat-label>Content</mat-label>
            <textarea matInput #maxContentLength maxlength="65535"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="11"
                      cdkAutosizeMaxRows="25" placeholder="Describe book content" name="content" required [(ngModel)]="book.content">{{book.content}}</textarea>
            <mat-hint align="end">{{maxContentLength.value.length}} / 65535</mat-hint>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
